<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %} - Todoistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div id="content_root">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    <small>not created by, affiliated with, or supported by Doist</small>
</div>
</body>
</html>