{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Todoistant</h1>
    <div>Your assistant for <a href="https://todoist.com">Todoist.</a></div>
    <hr class="my-4"/>
    <div>
        <form action="{{ url_for('oauth_redirect') }}" method="get">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
    {% if debug %}
    <div class="mt-4">
        <form action="{{ url_for('login') }}" method="post">
            <label>
                User ID:
                <input class="form-control" name="userid" type="text" />
            </label>
            <button class="btn btn-primary" type="submit">Debug Login</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
